parameters:
  scanFiles:
    - .ide-helper.php
    - ../../o3-shop/shop-ce/source/oxfunctions.php
  paths:
    - Application
  level: 9
  phpVersion: 70400
  ignoreErrors:
    - '#Constant FILES_ROOT not found.#'
    - '#Constant SESSION_PATH_KEY not found.#'
    - '#Constant FORBIDDEN_UPLOADS not found.#'
    - '#Constant ALLOWED_UPLOADS not found.#'
    - '#Constant BASE_PATH not found.#'
    - '#Constant DIRPERMISSIONS not found.#'
    - '#Constant FILEPERMISSIONS not found.#'
    - '#Constant MAX_IMAGE_HEIGHT not found.#'
    - '#Constant MAX_IMAGE_WIDTH not found.#'
    - '#Method RoxyImage\:\:OutputImage\(\) has no return type specified.#'
    - '#Method RoxyImage\:\:OutputImage\(\) has parameter \$img with no type specified.#'
    - '#Method RoxyImage\:\:SetAlpha\(\) has no return type specified.#'
    - '#Method RoxyImage\:\:SetAlpha\(\) has parameter \$img with no type specified.#'
    - '#Method RoxyImage\:\:GetImage\(\) has no return type specified.#'